@model IEnumerable<WTVersus.Models.Tank>;
@{
    ViewData["Title"] = "Heatmap of night vision and smoke launcher";
    double[] numbers = new double[] { 1.0, 1.3, 1.7, 2.0, 2.3, 2.7, 3.0, 3.3, 3.7, 4.0, 4.3, 4.7, 5.0, 5.3, 5.7, 6.0, 6.3, 6.7, 7.0, 7.3, 7.7, 8.0, 8.3, 8.7, 9.0, 9.3, 9.7, 10.0, 10.3, 10.7 };
    double[] shortnumbers = new double[] { 6.0, 6.3, 6.7, 7.0, 7.3, 7.7, 8.0, 8.3, 8.7, 9.0, 9.3, 9.7, 10.0, 10.3, 10.7 };
    string[] nations = new string[] { "USA", "Germany", "USSR", "Britain", "Japan", "China", "Italy", "France", "Sweden" };

    bool LeftTableHandler(double BR, string Nation)
    {
        if (Model.Where(p => p.BR == BR & p.Nation == Nation & p.GrenadeSmoke == true).Count() == 0)
        {
            return false;
        }
        else return true;
    }

    bool RightTableHandler(double BR, string Nation)
    {
        if (Model.Where(p => p.BR == BR & p.Nation == Nation & p.NVDGunner == true).Count() == 0)
        {
            return false;
        }
        else return true;
    }

    bool RightTableHandler2(double BR, string Nation)
    {
        if (Model.Where(p => p.BR == BR & p.Nation == Nation & p.NVDCommander == true).Count() == 0)
        {
            return false;
        }
        else return true;
    }
}


    <div class="container-fluid">
        <h1>
            Heatmap of tanks
        </h1>
        <a asp-controller="Tanks" asp-action="Count" class="btn btn-outline-danger">Counts</a>
        <a asp-controller="Tanks" asp-action="Repair" class="btn btn-outline-danger">Repair cost</a>
        <a asp-controller="Tanks" asp-action="MaxSpeed" class="btn btn-outline-danger">Max speed</a>
        <a asp-controller="Tanks" asp-action="ReloadAndPenetration" class="btn btn-outline-danger">Reload & penetration</a>
        <a asp-controller="Tanks" asp-action="ThermalAndStab" class="btn btn-outline-danger">Thermal & stab</a>
        <a asp-controller="Tanks" asp-action="NVDAndSmoke" class="btn btn-outline-danger active">NVD & smoke </a>
        <a asp-controller="Tanks" asp-action="Shells" class="btn btn-outline-danger">Types of shells </a>    <hr class="my-2">
        <div class="row">
            <div class="col-sm-6">
                <h1>Grenade smoke</h1>
                <table class="table table-bordered table-sm">
                    @await Html.PartialAsync("_FlagsRow")
                    <tbody>
                        @{
                            foreach (double number in numbers)
                            {
                                <tr>
                                    <th class="font-weight-bolder text-center">@number.ToString("0.0#")</th>
                                    @{
                                        foreach (string nation in nations)
                                        {
                                            <td>
                                                @if (LeftTableHandler(number, nation))
                                                {
                                                    <img class="mx-auto d-block" src="~/images/GrenadeSmoke.png" alt="Grenade smoke" title="Grenade smoke" width="25">
                                                }
                                            </td>
                                        }
                                    }
                                </tr>
                            } }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h1>NVD gunner</h1>
                <table class="table table-bordered table-sm">
                    @await Html.PartialAsync("_FlagsRow")
                    <tbody>
                        @{
                            foreach (double number in shortnumbers)
                            {
                                <tr>
                                    <th class="font-weight-bolder text-center">@number.ToString("0.0#")</th>
                                    @{
                                        foreach (string nation in nations)
                                        {
                                            <td>
                                                @if (RightTableHandler(number, nation))
                                                {
                                                    <img class="mx-auto d-block" src="~/images/NVDGunner.png" alt="NVD gunner" title="NVD gunner" width="25">
                                                }
                                            </td>
                                        }
                                    }
                                </tr>
                            } }
                    </tbody>
                </table>
                <br />
                <h1>NVD commander</h1>
                <table class="table table-bordered table-sm">
                    @await Html.PartialAsync("_FlagsRow")
                    <tbody>
                        @{
                            foreach (double number in shortnumbers)
                            {
                                <tr>
                                    <th class="font-weight-bolder text-center">@number.ToString("0.0#")</th>
                                    @{
                                        foreach (string nation in nations)
                                        {
                                            <td>
                                                @if (RightTableHandler2(number, nation))
                                                {
                                                    <img class="mx-auto d-block" src="~/images/NVDCommander.png" alt="NVD commander" title="NVD commander" width="25">
                                                }
                                            </td>
                                        }
                                    }
                                </tr>
                            } }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
    </div>