.green {
    background: #8efc8e;
}

.red {
    background: #fc918e;
}

.Fighter {
    background-color: #fff5d1 !important;
}

.Attacker {
    background-color: #caffca !important;
}

.Bomber {
    background-color: #e4e4ff !important;
}

.Premium, .Promotional {
    background-color: #fffe99 !important;
}

@font-face {
    font-family: 'wt_symbols';
    src: url('/fonts/symbols_skyquake.ttf')
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto.ttf')
}

@font-face {
    font-family: 'robotoBold';
    src: url('/fonts/RobotoBold.ttf')
}

.bold-font {
    font-family: 'robotoBold';
    font-size: 22px;
}

body {
    font-family: 'wt_symbols', 'roboto' !important;
    background: #eff0f2 !important;
}

th {
    font-weight: normal;
}

table {
    width: 100%;
    font-size: 10pt !important;
    background: white !important;
}

.font10pt {
    font-size: 10pt !important;
}

.red-table-label {
    background-color: #DC3546;
    color: white;
    text-transform:uppercase;
}

.img-horizontal-align {
    max-height: 40px;
}

.dropdown-height-fix {
    overflow-y: scroll;
    height: 400px;
}

.sticky-row {
    background: white;
    position: sticky;
    top: 0;
}

.table-hover > tbody > tr.no-hover:hover {
    background-color: #DC3546;
    color: white;
}

.menu-icon {
    width: 18px;
    opacity: 0.6;
}

/*Меню*/
@media (min-width: 768px) {
    .navbar-container {
        position: sticky;
        top: 0;
        overflow-y: auto;
        height: 100vh;
    }

        .navbar-container .navbar {
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            flex-direction: column;
            height: 100%;
        }

        .navbar-container .navbar-collapse {
            align-items: flex-start;
        }

        .navbar-container .nav {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .navbar-container .navbar-nav {
            flex-direction: column !important;
        }
}
