@{
    ViewData["Title"] = "Main menu";
}
    <div class="container">
        <div class="mt-3">
            <a class="btn btn-danger" asp-controller="AircraftsParser" asp-action="ParsePlane">Parse Plane</a>
            <a class="btn btn-danger" asp-controller="Planes" asp-action="Index">Planes List</a>
        </div>

        <div class="mt-3">
            <a class="btn btn-success" asp-controller="TanksParser" asp-action="ParseTank">Parse Tank</a>
            <a class="btn btn-success" asp-controller="Tanks" asp-action="Index">Tanks List</a>
        </div>

        <div class="mt-3">
            <a class="btn btn-warning" asp-controller="HelisParser" asp-action="ParseHeli">Parse Heli</a>
            <a class="btn btn-warning" asp-controller="Helis" asp-action="Index">Helis List</a>
        </div>

        <div class="mt-3">
            <a class="btn btn-primary" asp-controller="ShipsParser" asp-action="ParseShip">Parse Ship</a>
            <a class="btn btn-primary" asp-controller="Ships" asp-action="Index">Ships List</a>
        </div>

    </div>