<thead>
    <tr>
        <td></td>
        <td>
            <img class="mx-auto d-block" src="~/images/USA.png" alt="USA" title="USA" width="30">
        </td>
        <td>
            <img class="mx-auto d-block" src="~/images/Germany.png" alt="Germany" title="Germany" width="30">
        </td>
        <td>
            <img class="mx-auto d-block" src="~/images/USSR.png" alt="USSR" title="USSR" width="30">
        </td>
        <td>
            <img class="mx-auto d-block" src="~/images/Britain.png" alt="Britain" title="Britain" width="30">
        </td>
        <td>
            <img class="mx-auto d-block" src="~/images/Japan.png" alt="Japan" title="Japan" width="30">
        </td>
        <td>
            <img class="mx-auto d-block" src="~/images/China.png" alt="China" title="China" width="30">
        </td>
        <td>
            <img class="mx-auto d-block" src="~/images/Italy.png" alt="Italy" title="Italy" width="30">
        </td>
        <td>
            <img class="mx-auto d-block" src="~/images/France.png" alt="France" title="France" width="30">
        </td>
        <td>
            <img class="mx-auto d-block" src="~/images/Sweden.png" alt="Sweden" title="Sweden" width="30">
        </td>
    </tr>
</thead>
