<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WT Versus | @ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.png" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
</head>
<body>

    <nav class="navbar navbar-expand-sm red-table-label" style="font-size:22px;">
        <div class="navbar-collapse w-100">
            <a asp-controller="Tanks" asp-action="Compare" class="nav-link navbar-brand">
                <img src="~/favicon.png" alt="Logo" style="width: 40px;">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item bold-font">
                    <a asp-controller="Tanks" asp-action="Compare" class="nav-link text-white">
                        War Thuner Versus
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse w-100">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font10pt" title="Date when we updated the vehicle database">Data updated: May 1, 2020</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-lg-2 navbar-container">
                <!-- Вертикальне меню -->
                <nav class="navbar navbar-expand-md navbar-light font10pt align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav">

                            <li class="navbar-text font-weight-bold">
                                <span>Player statistics</span>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuStatistics.svg" class="img-fluid menu-icon" /> Statistics <span class="badge badge-danger float-right">Dev</span>
                                </a>
                            </li>
                            <li class="navbar-text font-weight-bold">
                                <span>Comparison</span>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Aircrafts" asp-action="Compare" class="nav-link">
                                    <img src="~/images/menuAir.svg" class="img-fluid menu-icon" /> Aircrafts <span class="badge badge-primary float-right">Done</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Tanks" asp-action="Compare" class="nav-link">
                                    <img src="~/images/menuGround.svg" class="img-fluid menu-icon" /> Army <span class="badge badge-primary float-right">Done</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuHeli.svg" class="img-fluid menu-icon" /> Heli <span class="badge badge-danger float-right">Dev</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuNavy.svg" class="img-fluid menu-icon" /> Fleet <span class="badge badge-danger float-right">Dev</span>
                                </a>
                            </li>

                            <li class="navbar-text font-weight-bold">
                                <span>Info & Reviews</span>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuAir.svg" class="img-fluid menu-icon" /> Aircrafts <span class="badge badge-danger float-right">Dev</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuGround.svg" class="img-fluid menu-icon" /> Army <span class="badge badge-danger float-right">Dev</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuHeli.svg" class="img-fluid menu-icon" /> Heli <span class="badge badge-danger float-right">Dev</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuNavy.svg" class="img-fluid menu-icon" /> Fleet <span class="badge badge-danger float-right">Dev</span>
                                </a>
                            </li>


                            <li class="navbar-text font-weight-bold">
                                <span>Feedback</span>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Feedback" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuFeedback.svg" class="img-fluid menu-icon" /> Leave feedback
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col-md-8 col-lg-8 container-fluid pt-2">
                <main role="main">
                    @RenderBody()
                </main>


            </div>

            <div class="col-md-2 col-lg-2"></div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - War Thunder Versus
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e57fc95fe8.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
