<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WT Versus | @ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.png" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand bg-white">
        <a class="navbar-brand" href="#">
            <img src="~/favicon.png" alt="logo" class="img-fluid" width="40">
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link">War Thunder Versus</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-lg-2 navbar-container">
                <!-- Вертикальне меню -->
                <nav class="navbar navbar-expand-md navbar-light font10pt">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">

                        @*<ul class="navbar-nav">
                            <li class="active">
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="navbar-text">Aircrafts (649 planes)</a>
                                <ul class="collapse" id="homeSubmenu">
                                    <li class="nav-item">
                                        <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                            <img src="~/images/menuInfo.png" class="img-fluid menu-icon" />
                                            Info (Dev)
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Aircrafts" asp-action="Compare" class="nav-link">
                                            <img src="~/images/menuCompare.png" class="img-fluid menu-icon" />
                                            Comparison
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            </ul>*@

                            <!-- Пункти вертикального меню -->
                        <ul class="navbar-nav">

                            <li class="navbar-text font-weight-bold">
                                <span>Statistics</span>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuInfoStat.png" class="img-fluid menu-icon" /> Player statistics </a>
                            </li>

                            <li class="navbar-text font-weight-bold">
                                <span>Comparison</span>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Aircrafts" asp-action="Compare" class="nav-link">
                                    <img src="~/images/menuInfo.png" class="img-fluid menu-icon" /> Aircrafts</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Tanks" asp-action="Compare" class="nav-link">
                                    <img src="~/images/menuCompare.png" class="img-fluid menu-icon" /> Army</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuInfo.png" class="img-fluid menu-icon" /> Helicopters</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuInfo.png" class="img-fluid menu-icon" /> Fleet</a>
                            </li>

                            <li class="navbar-text font-weight-bold">
                                <span>Info & Reviews</span>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuInfo.png" class="img-fluid menu-icon" /> Aircrafts</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuCompare.png" class="img-fluid menu-icon" /> Army</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuInfo.png" class="img-fluid menu-icon" /> Helicopters</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InDev" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuInfo.png" class="img-fluid menu-icon" /> Fleet</a>
                            </li>


                            <li class="navbar-text font-weight-bold">
                                <span>Feedback</span>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Feedback" asp-action="Index" class="nav-link">
                                    <img src="~/images/menuFeedback.png" class="img-fluid menu-icon" /> Leave feedback</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col-md-8 col-lg-8 container-fluid pt-2">
                <main role="main">
                    @RenderBody()
                </main>


            </div>

            <div class="col-md-2 col-lg-2"></div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - War Thunder Versus
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
