@model IEnumerable<WTVersus.Models.Tank>;
   
 @foreach (Tank item in Model)
     {
    <div class="@item.Type div-hover">
        @String.Format("[{0:F1}] ", item.BR)
        <a class="text-dark" asp-controller="Tanks" asp-action="Compare"
           asp-route-vehicle1="@item.VehicleId" asp-route-vehicle2="0">
            @item.Name
        </a>
        <br />
    </div>
    }