@{
    ViewData["Title"] = "Error 404";
}
<div class="container-fluid">
    <div class="py-5">
        <h3 class="display-4 text-center">404 - PAGE NOT FOUND</h3>
        <img src="~/images/Error404.png" alt="Error 404 plane" title="Error 404 plane" class="img-fluid mx-auto d-block" width="500">
        <h4 class="text-center">We are sorry, but the page you requested was not found</h4>
    </div>
</div>