@{
    ViewData["Title"] = "Feedback";
}
    <div class="container-fluid">
        <div>
            <h1 class="display-4">Feedback</h1>
            <p class="lead">In this section you can leave a message about a bug, missed vehicle, or suggest an idea to improve the site</p>
            <hr class="my-4">
            <p>Also, follow our updates here:</p>
            <p class="lead center">
                <a href="https://www.reddit.com/r/wtversus/" class="fa fa-reddit fa-2x " style="color:orangered; text-decoration: none;"></a>
                <a href="https://vk.com/wtversus" class="fa fa-vk fa-2x" style="color:royalblue; text-decoration: none;"></a>
                <a href="https://github.com/booooooogdan/wtversus" class="fa fa-github fa-2x" style="color:darkslategray; text-decoration: none;"></a>
                <a href="https://www.patreon.com/wtversus" class="fa fa-patreon fa-2x" style="color:darkslategray; text-decoration: none;">Patreon</a>
            </p>
        </div>

        <div id="wpac-comment"></div>
        <script type="text/javascript">
            wpac_init = window.wpac_init || [];
            wpac_init.push({ widget: 'Comment', id: 24806 });
            (function () {
                if ('WIDGETPACK_LOADED' in window) return;
                WIDGETPACK_LOADED = true;
                var mc = document.createElement('script');
                mc.type = 'text/javascript';
                mc.async = true;
                mc.src = 'https://embed.widgetpack.com/widget.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
            })();
        </script>
    </div>